@model Emp

<h1>Edit Employee</h1>
<hr />

<form method="post">
    <table>
        <tr>
            <td>
                <label asp-for="Id"></label>
            </td>
            <td>
                <input type="text" readonly asp-for="Id" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Name"></label>
            </td>
            <td>
                <input type="text" asp-for="Name" />
                <span asp-validation-for="Name" style="color:red"></span>
            </td>
        </tr>

        <tr>
            <td>
                <label asp-for="Salary"></label>
            </td>
            <td>
                <input type="text" asp-for="Salary" />
                <span asp-validation-for="Salary" style="color:red"></span>
            </td>
        </tr>

        <tr>
            <td>
                <label asp-for="Dob"></label>
            </td>
            <td><input type="date" asp-for="Dob" /></td>
        </tr>

        <tr>
            <td>
                <label>Select Department</label>
                
            </td>
            <td>
                <select asp-for="Deptid" asp-items="ViewBag.Deptid">
                    <option value="">Choose Department</option>
                </select>
            </td>
        </tr>

        <tr>
             <td>
                 <input type="hidden" asp-for="Email" />
                @*<label asp-for="Email" readonly></label> *@
           </td>
           @*<td>
                <input type="text" asp-for="Email" />
                <span asp-validation-for="Email" style="color:red"></span>
            </td>*@
        </tr>

        <tr>
            <td><input type="submit" value="Save" style="background-color: limegreen" /></td>
        </tr>
    </table>
</form>

<br /><br />

<div asp-validation-summary="All" style="color:red"></div>

@Html.ActionLink("Back to List", "List")

<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>